<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>Hi,</p>

    <p>You're receiving this email because you requested a password reset for your user account at {{ site_name }}.</p>

    <p>Please go to the following page and choose a new password: {% url 'password_reset_confirm' uidb64=uid token=token
        %}</p>

    <p>If you didn't request this change, you can ignore this email.</p>

    <p>Your username, in case you've forgotten: {{ user.get_username }}</p>

    <p>Thanks for using our site!</p>

    <p>The {{ site_name }} Team</p>

</body>

</html>